@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.marker {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: solid black 1px;
}

.marker.emergency {
  width: 40px;
  height: 40px;
  z-index: 1;
  cursor: pointer;
  border: solid red 2px;
}


div.title {
  margin: 2px;
  font-size: 1.4em;
  font-weight: bold;
}
